#content-block {
  .container {
    max-width: 992px;
  }
  .title,
  .subtitle {
    font-weight: 600;
    color: var(--secondary-color);
  }
  .content {
    color: var(--secondary-light-color);
  }
}

hr {
  border: 5px solid var(--primary-color);
  width: 12rem;
  margin: 2rem auto;
}

a > button.button-styles {
  font-size: 0.85rem !important;
  padding: 0.75rem 1rem !important;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  a.button-styles:last-of-type {
    padding: 0.75rem 3rem !important;
    text-wrap: nowrap;
  }
}

@media screen and (max-width: 340px) {
  a.button-styles:last-of-type {
    padding: 0.75rem 1rem !important;
  }
}
