.hero {
  background-image: url('/img/hero-cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.6);
  margin-bottom: -11rem;

  .hero-body {
    margin: 0 auto;
    text-align: center;
    min-height: 42rem;
    gap: 1rem;

    .title-styles {
      font-family: 'Roboto', sans-serif;
      font-size: 3.125rem;
      font-weight: 600;
      line-height: 3.5rem;
      letter-spacing: 0.1px;
      color: var(--light-color);
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 2.2rem;
        line-height: 2.4rem;
      }
    }
  }
}
