.portfolio-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .portfolio-card-styles {
    position: relative;
    flex: 1;
    height: 480px;
    max-width: calc(25%);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    .image-text {
      position: absolute;
      color: var(--light-color);
      bottom: 0;
      left: 0;
      padding: 1.5rem;
      z-index: 3;
    }
  }
  .portfolio-card-styles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6) !important;
    z-index: 1;
  }
}

.portfolio-card-styles:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  .portfolio-card-styles {
    min-width: calc(50%) !important;
  }
}

@media screen and (max-width: 520px) {
  .portfolio-card-styles {
    min-width: calc(100%) !important;
  }
}
